# {{Projectname}} - {{projectDescription}}

## Usage

## Installation

## Author

* {{projectAuthor}}

## Copyright

Copyright (c) 2019 {{projectAuthor}}

## License

Licensed under the {{projectLicense}} License.
